@model CreateAccountViewModel

@{
    ViewData["Title"] = "Create new account";
}

<h1>Create new account</h1>
<h5 style="margin-top:30px">An account holds a current balance</h5>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AccountTypeId" class="form-label"></label>
        <select asp-for="AccountTypeId" asp-items="Model.AccountTypes" class="form-select"></select>
        <span asp-validation-for="AccountTypeId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Balance" class="form-label"></label>
        <input asp-for="Balance" class="form-control" />
        <span asp-validation-for="Balance" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AccountDescription" class="form-label"></label>
        <textarea asp-for="AccountDescription" class="form-control"></textarea>
        <span asp-validation-for="AccountDescription" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn-secondary btn" asp-action="Index">Cancel</a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}