@model AccountType

@{
    ViewData["Title"] = "New account type";
}

<h1>Create new account type</h1>
<h5>An account type groups accounts together that fit in the same category: Loans, save accounts, etc.</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" name="Name" class="form-control" />
        <span asp-validation-for="Name" class=text-danger></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn-secondary btn" asp-action="Index" asp-controller="AccountTypes">Cancel</a>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}